.footer {
  background-color: #17478d;
  color: #fff;
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-list {
  width: 500px;
  list-style-type: none;
  padding: 0;
}

.footer-list li {
  cursor: pointer;
  margin-bottom: 8px;
}

.footer-list li:hover {
  text-decoration: underline;
}

.get-in-touch {
  text-wrap: wrap;
  text-decoration: none;
}

.footer-icon {
  font-size: 20px !important;
}
