.image-wrapper {
  margin-top: 45px;
  width: 100%;
  height: auto;
  display: block;
}

.main-content {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100px;
}
.info-form {
  display: flex;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -90%);
  text-align: center;
  color: #fff; /* Adjust text color as needed */
}

.text-overlay h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

.text-overlay p {
  font-size: 16px;
  width: 415px;
}
.text-overlay button {
  border-radius: 2px;
}
